* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ultra', serif;
}

body {
    background-color: bisque;
}

header {
    text-align: center;
    font-size: 45px;
    color: bisque;
    padding: 40px;
}

.badge-success {
    color: green;
}

.badge-warning {
    color: orange;
}

.badge-danger {
    color: red;
}