* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ultra', serif;
}

body {
    background-color: bisque;
}

header {
    text-align: center;
    font-size: 45px;
    color: bisque;
    padding: 40px;
}

.r1 {
    padding: 20px;
}

.li {
    padding: 0px !important;
}

.weather {
    position: relative;
    left: 40%;
    top: -120px;
}


.badge-success {
    color: green;
}

.badge-warning {
    color: orange;
}

.badge-danger {
    color: red;
}